<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMenuMapper">

    <resultMap type="SysMenu" id="SysMenuResult">
        <id property="id" column="id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentName" column="parent_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="query" column="query"/>
        <result property="isFrame" column="is_frame"/>
        <result property="isCache" column="is_cache"/>
        <result property="menuType" column="menu_type"/>
        <result property="visible" column="visible"/>
        <result property="status" column="status"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectMenuVo">
        SELECT id,
               menu_name,
               parent_id,
               order_num,
               path,
               component,
               query,
               is_frame,
               is_cache,
               menu_type,
               visible,
               status,
               ifnull(perms, '') AS perms,
               icon,
               create_time
            FROM sys_menu
    </sql>

    <select id="selectMenuList" parameterType="SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        <where>
            <if test="menuName != null and menuName != ''">
                AND menu_name like concat('%', #{menuName}, '%')
            </if>
            <if test="visible != null and visible != ''">
                AND visible = #{visible}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectMenuTreeAll" resultMap="SysMenuResult">
        SELECT DISTINCT m.id,
                        m.parent_id,
                        m.menu_name,
                        m.path,
                        m.component,
                        m.query,
                        m.visible,
                        m.status,
                        ifnull(m.perms, '') AS perms,
                        m.is_frame,
                        m.is_cache,
                        m.menu_type,
                        m.icon,
                        m.order_num,
                        m.create_time
            FROM sys_menu m
            WHERE m.menu_type IN ('M', 'C')
              AND m.status = 0
            ORDER BY m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByUserId" parameterType="SysMenu" resultMap="SysMenuResult">
        select distinct m.id, m.parent_id, m.menu_name, m.path, m.component, m.query, m.visible, m.status, ifnull(m.perms,'') as perms, m.is_frame, m.is_cache, m.menu_type, m.icon, m.order_num, m.create_time
        from sys_menu m
        left join sys_role_menu rm on m.id = rm.menu_id
        left join sys_user_role ur on rm.role_id = ur.role_id
        left join sys_role ro on ur.role_id = ro.id
        where ur.user_id = #{params.userId}
        <if test="menuName != null and menuName != ''">
            AND m.menu_name like concat('%', #{menuName}, '%')
        </if>
        <if test="visible != null and visible != ''">
            AND m.visible = #{visible}
        </if>
        <if test="status != null and status != ''">
            AND m.status = #{status}
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuTreeByUserId" parameterType="String" resultMap="SysMenuResult">
        SELECT DISTINCT m.id,
                        m.parent_id,
                        m.menu_name,
                        m.path,
                        m.component,
                        m.query,
                        m.visible,
                        m.status,
                        ifnull(m.perms, '') AS perms,
                        m.is_frame,
                        m.is_cache,
                        m.menu_type,
                        m.icon,
                        m.order_num,
                        m.create_time
            FROM sys_menu m
                     LEFT JOIN sys_role_menu rm ON m.id = rm.menu_id
                     LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
                     LEFT JOIN sys_role ro ON ur.role_id = ro.id
                     LEFT JOIN sys_user u ON ur.user_id = u.id
            WHERE u.id = #{userId}
              AND m.menu_type IN ('M', 'C')
              AND m.status = 0
              AND ro.status = 0
            ORDER BY m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByRoleId" resultType="String">
        select m.id
        from sys_menu m
        left join sys_role_menu rm on m.id = rm.menu_id
        where rm.role_id = #{roleId}
        <if test="menuCheckStrictly">
            and m.id not in (select m.parent_id from sys_menu m inner join sys_role_menu rm on m.id = rm.menu_id and rm.role_id = #{roleId})
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuPerms" resultType="String">
        SELECT DISTINCT m.perms
            FROM sys_menu m
                     LEFT JOIN sys_role_menu rm ON m.id = rm.menu_id
                     LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
    </select>

    <select id="selectMenuPermsByUserId" parameterType="String" resultType="String">
        SELECT DISTINCT m.perms
            FROM sys_menu m
                     LEFT JOIN sys_role_menu rm ON m.id = rm.menu_id
                     LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
                     LEFT JOIN sys_role r ON r.id = ur.role_id
            WHERE m.status = '0'
              AND r.status = '0'
              AND ur.user_id = #{userId}
    </select>

    <select id="selectMenuById" parameterType="String" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        where id = #{menuId}
    </select>

    <select id="hasChildByMenuId" resultType="Integer">
        SELECT count(1)
            FROM sys_menu
            WHERE parent_id = #{menuId}
    </select>

    <select id="checkMenuNameUnique" parameterType="SysMenu" resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        where menu_name=#{menuName} and parent_id = #{parentId} limit 1
    </select>

    <update id="updateMenu" parameterType="SysMenu">
        update sys_menu
        <set>
            <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="orderNum != null and orderNum != ''">order_num = #{orderNum},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="component != null">component = #{component},</if>
            <if test="query != null">query = #{query},</if>
            <if test="isFrame != null and isFrame != ''">is_frame = #{isFrame},</if>
            <if test="isCache != null and isCache != ''">is_cache = #{isCache},</if>
            <if test="menuType != null and menuType != ''">menu_type = #{menuType},</if>
            <if test="visible != null">visible = #{visible},</if>
            <if test="status != null">status = #{status},</if>
            <if test="perms !=null">perms = #{perms},</if>
            <if test="icon !=null and icon != ''">icon = #{icon},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
        </set>
        where id = #{id}
    </update>

    <insert id="insertMenu" parameterType="SysMenu">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="parentId != null and parentId != ''">parent_id,</if>
            <if test="menuName != null and menuName != ''">menu_name,</if>
            <if test="orderNum != null and orderNum != ''">order_num,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="component != null and component != ''">component,</if>
            <if test="query != null and query != ''">query,</if>
            <if test="isFrame != null and isFrame != ''">is_frame,</if>
            <if test="isCache != null and isCache != ''">is_cache,</if>
            <if test="menuType != null and menuType != ''">menu_type,</if>
            <if test="visible != null">visible,</if>
            <if test="status != null">status,</if>
            <if test="perms !=null and perms != ''">perms,</if>
            <if test="icon != null and icon != ''">icon,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id == null">replace(uuid(), '-', ''),</if>
            <if test="id != null and id != ''">#{id},</if>
            <if test="parentId != null and parentId != ''">#{parentId},</if>
            <if test="menuName != null and menuName != ''">#{menuName},</if>
            <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="component != null and component != ''">#{component},</if>
            <if test="query != null and query != ''">#{query},</if>
            <if test="isFrame != null and isFrame != ''">#{isFrame},</if>
            <if test="isCache != null and isCache != ''">#{isCache},</if>
            <if test="menuType != null and menuType != ''">#{menuType},</if>
            <if test="visible != null">#{visible},</if>
            <if test="status != null">#{status},</if>
            <if test="perms !=null and perms != ''">#{perms},</if>
            <if test="icon != null and icon != ''">#{icon},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
        </trim>
    </insert>

    <delete id="deleteMenuById" parameterType="String">
        DELETE
            FROM sys_menu
            WHERE id = #{menuId}
    </delete>

</mapper> 